@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.tablesection {
  margin-bottom: 3.2rem;
}

table {
  width: 100%;
  /* overflow: scroll; */
}
thead {
  background-color: #d9d9d9;
  padding: 20rem;
  color: #595959;
  font-size: 1.4rem;
  text-align: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.red {
  background-color: red;
  padding: 1rem;
  border-radius: 2rem;
  color: #f1f5f9;
}
.green {
  background-color: green;
  padding: 1rem;
  border-radius: 2rem;
  color: #f1f5f9;
}
.yellow {
  background-color: #ffa500;
  padding: 1rem;
  border-radius: 2rem;
  color: #f1f5f9;
}
.blue {
  background-color: #3b82f6;
  padding: 1rem;
  border-radius: 2rem;
  color: #f1f5f9;
}
.verified {
  background-color: #0d9488;
  padding: 1rem;
  border-radius: 2rem;
  color: #f1f5f9;
}
tr {
  color: #19191d;
  font-family: "Lato", sans-serif;
  padding: 5rem;

  span {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }
}
th {
  padding: 2rem;
}
td {
  padding: 3rem;
  border-bottom: 0.1rem solid #595959;
}
/* .tablesection {
  overflow-block: clip;
} */
